@page
@model IndexModel

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Offcanvas</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Bootstrap</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Offcanvas</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-12 col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Default Offcanvas</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="btn-list">
                                            <a class="btn btn-primary off-canvas" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                                Link with href
                                            </a>
                                            <button class="btn btn-primary off-canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                                                Button with data-bs-target
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">BackDrop Offcanvas</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="btn-list">
                                            <button class="btn btn-primary off-canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>
                                            <button class="btn btn-primary off-canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">Enable backdrop (default)</button>
                                            <button class="btn btn-primary off-canvas text-wrap" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Placement Offcanvas</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="btn-list">
                                            <button class="btn btn-primary off-canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Toggle top offcanvas</button>
                                            <button class="btn btn-primary off-canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>
                                            <button class="btn btn-primary off-canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->

                        <!-- Country-selector modal-->
                        <div class="modal fade" id="country-selector">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content country-select-modal">
                                    <div class="modal-header">
                                        <h6 class="modal-title">Choose Country</h6><button aria-label="Close" class="btn-close"
                                            data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="row p-3">
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block active">
                                                    <span class="country-selector"><img alt="" src="../assets/images/flags/us_flag.jpg"
                                                            class="me-3 language"></span>USA
                                                </a>
                                            </li>
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                                    <span class="country-selector"><img alt=""
                                                        src="../assets/images/flags/italy_flag.jpg"
                                                        class="me-3 language"></span>Italy
                                                </a>
                                            </li>
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                                    <span class="country-selector"><img alt=""
                                                        src="../assets/images/flags/spain_flag.jpg"
                                                        class="me-3 language"></span>Spain
                                                </a>
                                            </li>
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                                    <span class="country-selector"><img alt=""
                                                        src="../assets/images/flags/india_flag.jpg"
                                                        class="me-3 language"></span>India
                                                </a>
                                            </li>
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                                    <span class="country-selector"><img alt=""
                                                        src="../assets/images/flags/french_flag.jpg"
                                                        class="me-3 language"></span>French
                                                </a>
                                            </li>
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                                    <span class="country-selector"><img alt=""
                                                        src="../assets/images/flags/russia_flag.jpg"
                                                        class="me-3 language"></span>Russia
                                                </a>
                                            </li>
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                                    <span class="country-selector"><img alt=""
                                                        src="../assets/images/flags/germany_flag.jpg"
                                                        class="me-3 language"></span>Germany
                                                </a>
                                            </li>
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                                    <span class="country-selector"><img alt=""
                                                        src="../assets/images/flags/argentina.jpg"
                                                        class="me-3 language"></span>Argentina
                                                </a>
                                            </li>
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                                    <span class="country-selector"><img alt="" src="../assets/images/flags/malaysia.jpg"
                                                        class="me-3 language"></span>Malaysia
                                                </a>
                                            </li>
                                            <li class="col-lg-6 mb-2">
                                                <a href="javascript:void(0)" class="btn btn-country btn-lg btn-block">
                                                    <span class="country-selector"><img alt="" src="../assets/images/flags/turkey.jpg"
                                                        class="me-3 language"></span>Turkey
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Country-selector modal-->

                        <!-- Default Offcanvas-->
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fe fe-x fs-18"></i></button>
                            </div>
                            <div class="offcanvas-body">
                                <div>
                                    Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                                </div>
                                <div class="dropdown mt-3">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                            Dropdown button
                                        </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/Default Offcanvas-->

                        <!--Scroll offcanvas-->
                        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Colored with scrolling</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fe fe-x fs-18"></i></button>
                            </div>
                            <div class="offcanvas-body">
                                <p>Try scrolling the rest of the page to see this option in action.</p>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English.</p>
                            </div>
                        </div>
                        <!--/Scroll offcanvas-->

                        <!--Withbackdrop offcanvas-->
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fe fe-x fs-18"></i></button>
                            </div>
                            <div class="offcanvas-body">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English.</p>
                            </div>
                        </div>
                        <!--/Withbackdrop offcanvas-->

                        <!--Withbothoptions offcanvas-->
                        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fe fe-x fs-18"></i></button>
                            </div>
                            <div class="offcanvas-body">
                                <p>Try scrolling the rest of the page to see this option in action.</p>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English.</p>
                            </div>
                        </div>
                        <!--/Withbothoptions offcanvas-->

                        <!--Top Offcanvas-->
                        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasTopLabel">Offcanvas top</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fe fe-x fs-18"></i></button>
                            </div>
                            <div class="offcanvas-body">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English.</p>
                            </div>
                        </div>
                        <!--/Top Offcanvas-->

                        <!--Right Offcanvas-->
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel">Offcanvas right</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fe fe-x fs-18"></i></button>
                            </div>
                            <div class="offcanvas-body">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English.</p>
                            </div>
                        </div>
                        <!--/Right Offcanvas-->

                        <!--Bottom Offcanvas-->
                        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fe fe-x fs-18"></i></button>
                            </div>
                            <div class="offcanvas-body">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English.</p>
                            </div>
                        </div>
                        <!--/Bottom Offcanvas-->

@section scripts {

    
}