                <div class="landing-top-header overflow-hidden">
                    <div class="top sticky overflow-hidden">
                        <!--APP-SIDEBAR-->
                        <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                        <div class="app-sidebar bg-transparent horizontal-main">
                            <div class="container">
                                <div class="row">
                                    <div class="main-sidemenu navbar px-0">
                                        <a class="navbar-brand ps-0 d-none d-lg-block" asp-area="" asp-page="/Index">
                                            <img alt="" class="logo-2" src="../assets/images/brand/logo-3.png">
                                            <img src="../assets/images/brand/logo.png" class="logo-3" alt="logo">
                                        </a>
                                        <ul class="side-menu">
                                            <li class="slide">
                                                <a class="side-menu__item active" data-bs-toggle="slide" href="#home"><span
                                                        class="side-menu__label">Home</span></a>
                                            </li>
                                            <li class="slide">
                                                <a class="side-menu__item" data-bs-toggle="slide" href="#Features"><span
                                                        class="side-menu__label">Features</span></a>
                                            </li>
                                            <li class="slide">
                                                <a class="side-menu__item" data-bs-toggle="slide" href="#About"><span
                                                        class="side-menu__label">About</span></a>
                                            </li>
                                            <li class="slide">
                                                <a class="side-menu__item" data-bs-toggle="slide" href="#Faqs"><span
                                                        class="side-menu__label">Faq's</span></a>
                                            </li>
                                            <li class="slide">
                                                <a class="side-menu__item" data-bs-toggle="slide" href="#Blog"><span
                                                        class="side-menu__label">Blog</span></a>
                                            </li>
                                            <li class="slide">
                                                <a class="side-menu__item" data-bs-toggle="slide" href="#Clients"><span
                                                        class="side-menu__label">Clients</span></a>
                                            </li>
                                            <li class="slide">
                                                <a class="side-menu__item" data-bs-toggle="slide" href="#Contact"><span
                                                        class="side-menu__label">Contact</span></a>
                                            </li>
                                        </ul>
                                        <div class="header-nav-right d-none d-lg-flex">
                                            <a asp-area="" asp-page="/Register/Index"
                                                class="btn ripple btn-min w-sm btn-outline-primary me-2 my-auto d-lg-none d-xl-block d-block"
                                                target="_blank">New User
                                            </a>
                                            <a asp-area="" asp-page="/Login/Index" class="btn ripple btn-min w-sm btn-primary me-2 my-auto d-lg-none d-xl-block d-block"
                                                target="_blank">Login
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/APP-SIDEBAR-->
                    </div>
                    <div class="demo-screen-headline main-demo main-demo-1 spacing-top overflow-hidden reveal" id="home">
                        <div class="container px-sm-0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 mb-5 pb-5 animation-zidex pos-relative">
                                    <h4 class="fw-semibold mt-7">Manage Your Business</h4>
                                    <h1 class="text-start fw-bold">We Help to Build Your Dream Project with <span
                                            class="text-primary animate-heading">Sash</span></h1>
                                    <h6 class="pb-3">
                                        Sash - Now you can use this admin template to design stunning dashboards
                                        that will wow your target viewers or users to no end. To create a good and
                                        well-structured dashboard,
                                        you need to start from scratch with HTML, SCSS, CSS, and JS and with lots of coding,
                                        but by using this Sash-Admin template.</h6>

                                    <a href="https://themeforest.net/item/sash-bootstrap-5-admin-dashboard-template/35183671"
                                        target="_blank" class="btn ripple btn-min w-lg mb-3 me-2 btn-primary"><i
                                            class="fe fe-play me-2"></i> Get Started
                                    </a>
                                    <a href="https://themeforest.net/user/spruko/portfolio"
                                        class="btn ripple btn-min w-lg btn-outline-primary mb-3 me-2" target="_blank"><i
                                            class="fe fe-eye me-2"></i>Discover More
                                    </a>
                                </div>
                                <div class="col-xl-6 col-lg-6 my-auto">
                                    <img src="../assets/images/landing/market4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>		